@utility select {
  @apply text-sm inline-flex items-center align-middle whitespace-nowrap w-full cursor-pointer transition-all duration-150 ease-in-out;
  gap: var(--space-inline-gap);
  height: var(--height-field-md);
  font-family: var(--font-body);
  background-color: var(--color-base-100);
  border-width: var(--border-width-base);
  border-style: var(--border-style-base);
  border-radius: var(--radius-field);
  border-color: var(--color-base-content);
  box-shadow: var(--elevation-1-default);
  padding: var(--space-xs);
}

select.select:focus {
  @apply outline-none;
  border-color: var(--color-primary);
  box-shadow: var(--elevation-1-default);
  isolation: isolate;
  z-index: 1;
}

select.select:disabled {
  @apply cursor-not-allowed;
  color: var(--color-base-content-muted);
  border-color: var(--color-base-300);
  background-color: var(--color-base-200);
  box-shadow: none;
}
